/* Main Title */
.st0{fill:#FFF6C5;}
.st1{fill:#92BEB8;}
.st2{fill:#FFCB5C;}
.st3{fill:#DDD6AC;}
.st4{fill:#262261;}
.st5{fill:#B1875F;}
.st6{fill:#F16E6A;}
.st7{fill:#231F20;}
.st8{fill:#140B45;}
.st9{fill:#FFD292;}
.st10{fill:#F4EDDA;}
.st11{fill:#D05F5B;}
.st12{fill:#DCB151;}
.st13{fill:#6CC1D9;}
.st14{fill:#5BA2B6;}
.st15{fill:#E6C086;}
.st16{fill:#DAAF50;}
.st17{fill:#96CDB3;}
.st18{fill:#9D7954;}
